.Rproj.user
.Rhistory
.RData
.Ruserdata
inst/extdata


.Renviron

_targets.yaml

*.qs

*.hdf5

history.rds

serialized_model.rds

tictoc_model.rds

done/

dev/2-random_size-4_batches_train_paths.rds

dev/2-random_size-4_batches_val_paths.rds

dev/32-random_size-4_batches_train_paths.rds

dev/32-random_size-6_batches_train_paths.rds

dev/16-random_size-4_batches_val_paths.rds

dev/16-random_size-6_batches_val_paths.rds

dev/16-random_size-6_batches_val_paths_nocllinic.rds

dev/32-random_size-6_batches_train_paths_nocllinic.rds

run_20221228233857-32x6gte4events-CONTINUE_from_11-2_epochs_history.rds

run_20221228233857-32x6gte4events-CONTINUE_from_11-2_epochs_serialized_model.rds

run_20221228233857-32x6gte4events-CONTINUE_from_11-2_epochs_tictoc_model.rds

roc22_test12.png

roc22_test24.png

roc22_test36.png

roc22_test60.png

roc22_test96.png

roc22_val12.png

roc22_val24.png

roc22_val36.png

roc22_val60.png

roc22_val96.png

run_20230105012024-32x6gte4events-CONTINUE_from_15-20_epochs_history.rds

run_20230105012024-32x6gte4events-CONTINUE_from_15-20_epochs_serialized_model.rds

run_20230105012024-32x6gte4events-CONTINUE_from_15-20_epochs_tictoc_model.rds

run_20230109184404-32x6gte4events-CONTINUE_from_15-25_epochs_history.rds

run_20230109184404-32x6gte4events-CONTINUE_from_15-25_epochs_serialized_model.rds

run_20230109184404-32x6gte4events-CONTINUE_from_15-25_epochs_tictoc_model.rds

review_hTestCovar_epoch30.csv

review_testRoc1Covar.jpg

review_testRoc2Covar.jpg

review_testRoc3Covar.jpg

review_testRoc5Covar.jpg

review_testRoc8Covar.jpg

review_valRoc1Covar.jpg

review_valRoc2Covar.jpg

review_valRoc3Covar.jpg

review_valRoc5Covar.jpg

review_valRoc8Covar.jpg
